*,
*::before,
*::after{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.arabic-style{
    direction: rtl;
    text-align: right;
}

.arabic-carousel-direction{
    text-align: right !important;
}

.arabic-direction{
    direction: rtl !important;
}

.arabic-social-direction{
    right: 10rem !important;
    left: unset !important;
}

// Thsi is the Language style

.wrapper-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.test{
    font-size: 2rem ;
    font-weight: 100;
    flex: 1 1 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-btns{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #ddd;
    transition: all 0.3s ease;

    margin: 0 0.7rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        text-decoration: underline;
    }

}



// Thsi is the Language style

// Responisve breakpoints
$bp-largest: 75em; // 1200px => 1200px/16px
$bp-large: 56.25em; //900px => 900px/16px
$bp-medium: 48em; //768px => 800px/16px
$bp-small: 37.5em; //600px => 600px/16px
$bp-x-small: 25em; //400px => 400px/16px

@media only screen and (max-width: $bp-large) {
    html{
        font-size: 55%;
    }
    
}

@media only screen and (max-width: $bp-medium) {
    html{
        font-size: 49%;
    }

}

@media only screen and (max-width: 424px) {
    html{
        font-size: 42%;
    }

}




