*,
*::before,
*::after{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

html{
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.arabic-font{
    font-family: 'Cairo', sans-serif !important;
}


.arabic-style{
    direction: rtl;
    text-align: right;
}

.arabic-carousel-direction{
    text-align: right !important;
}

.arabic-direction{
    direction: rtl !important;
}

.arabic-social-direction{
    right: 10rem !important;
    left: unset !important;
}

// Thsi is the Language style

.wrapper-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag{
    width: 1.7rem;
    margin-right: 3px;
}

.langauge-box{
    font-size: 2rem !important;
    font-weight: 100 !important;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    top: 25px;
    left: 40%;
    z-index: 16;
}



.lang-btns{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.4rem;
    transition: all 0.3s ease;
    color: #fff;
    margin: 0 0.7rem;
    padding: 0.5rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        text-decoration: underline;
    }

}

.active-lang-white{
    background-color: #fff !important;
    color: #00619c !important;
    padding: 0.5rem;
    border-radius: 100rem;
}

.sticky .active-lang-blue{
    background-color: #00619c !important;
    color: #fff !important;
    padding: 0.5rem;
    border-radius: 100rem
}


.sticky .lang-btns{
    color: #00619c;
}


// Thsi is the Language style

// Responisve breakpoints
$bp-largest: 75em; // 1200px => 1200px/16px
$bp-large: 56.25em; //900px => 900px/16px
$bp-medium: 48em; //768px => 800px/16px
$bp-small: 37.5em; //600px => 600px/16px
$bp-x-small: 25em; //400px => 400px/16px

@media only screen and (max-width: $bp-large) {
    html{
        font-size: 55%;
    }
    
}

@media only screen and (max-width: $bp-medium) {
    html{
        font-size: 49%;
    }

}

@media only screen and (max-width: 600px) {
    main .langauge-box{
        top: 25px;
        left: 30%;
    }

    main .langauge-box-en{
        top: 25px;
        right: 30%;
        left: unset;
    }
    
}

@media only screen and (max-width: 560px) {
    
    main .langauge-box{
        top: 9.7rem;
        left:3%;
    }

    main .langauge-box-en{
        top: 9.7rem;
        right: 3%;
        left: unset;
    }
    
}

@media only screen and (max-width: 424px) {
    html{
        font-size: 42%;
    }
}



