// Contact Us Form Style

.contcat-form-title{
  z-index: 5;
}

.contcat-form-title h2{
  color: #fff;
  margin: 0 auto;
  margin-top: 20rem;
  z-index: 5;

}

form.contact-form{
  position: relative;
  margin: 5rem auto;
  max-width: 70%;
  border-radius: 5px;
  height: 100vh;
  padding-top: 35rem;
  padding-bottom: 50rem;
  overflow: hidden;

  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  
  &::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(#00619c,0.86),rgba(#003e64, 0.95));
    width: 100%;
    height: 100%;
    z-index: 1;
}

}

.invalid {
border: 1px solid red;
z-index: 5;

}

.contact-input {
display: block;
width: 30vw;
font-size: 1.5rem;
background-color: rgba(#fff, 0.9);
padding: 1.5rem 2rem;
border: none;
border-radius: 2px;
outline: none;
transition: all .1s ease;
z-index: 5;


@media only screen and (max-width: $bp-large) {
  width: 50rem;
}

@media only screen and (max-width: 768px) {
  width: 35rem;

}

@media only screen and (max-width: 368px) {
  width: 30rem;

}

}

.form-control {
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  margin: 3.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 5;



&:last-child{
  

  min-height: 20rem;
  margin: 0;
  padding: 2rem;
}
}

.error {
color: red;
font-size: 1.6rem;
font-weight: 100;
margin-top: 1rem;
display: block;
z-index: 5;

}
.hide {
opacity: 0;
z-index: 5;

}

.contact-message {
border-radius: 5px;
outline: none;
padding: 1rem;
font-size: 1.8rem;
width: 30vw;
height: 100%;
z-index: 5;


}

button.contact-button {
text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    font-size: 1.6rem;
    color: #00619c;
    border: none;
    cursor: pointer;
    margin: 5rem 0;

  z-index: 5;


}

form .form-group{
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 5;



  &:not(:last-child){
    margin: 50px 0;

  }
}


.no-arrow {
-moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}



// form{
//   padding: 20px;
//   margin: 13rem 0;
// }

// .form{
//   background: linear-gradient(rgba(#00619c,0.85),rgba(#00619c,0.85)),url(../img/contact.jpg);
//   margin: 20px auto;
//   text-align: center;
//   max-width: 70%;
//   border-radius: 5px;
  

//   &__box{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;

//     &:not(:last-child){
//       margin: 50px 0;

//     }
//   }

//   &__title h2{
//     font-size: 4.8rem;
//     margin: 30px 0;
//     color: #fff;

//   }

//   &__input{
//       display: block;
//       width: 30vw;
//       font-size: 1.5rem;
//       background-color: rgba(#fff, 0.9);
//       padding: 1.5rem 2rem;
//       color: inherit;
//       border: none;
//       border-radius: 2px;
//       border-bottom: 5px solid transparent;
//       outline: none;
//       transition: all .1s ease;


//       &:focus{
//       border-bottom: 5px solid rgb(0, 126, 67);
//       box-shadow: 0rem  1.5rem 4rem rgba(#000, 0.2);
//       }


//       &::-webkit-input-placeholder{
//           color: #333;
//       }

//       &:focus:invalid{
//       border-bottom: 5px solid orangered;

//       }

//       @media only screen and (max-width: $bp-large) {
//         width: 50rem;
//       }

//       @media only screen and (max-width: 768px) {
//         width: 35rem;

//       }

//       @media only screen and (max-width: 368px) {
//         width: 30rem;

//       }
//   }

//   &__label{
//       font-size: 1.5rem;
//       font-weight: bold;
//       margin-left: 2rem;
//       margin-top: 0.7rem;
//       color: inherit;
//       display: block;
//       transition: all 0.3s ease;
//       color: #fff;
//   }


//   &__input:placeholder-shown + &__label{
//       opacity: 0;
//       visibility: hidden;
//       transform: translateY(-4rem);
//   }


//   &__group{
//   text-align: left;

//   }
// }

// // Button
// .btn{
    
//   &,
//   &:link,
//   &:visited{
//       text-decoration: none;
//       text-transform: uppercase;
//       padding: 1.5rem 4rem;
//       display: inline-block;
//       border-radius: 10rem;
//       transition: all 0.2s;
//       position: relative;
//       font-size: 1.6rem;
//       color: #00619c;

//       //change for <button> element

//       border: none;
//       cursor: pointer;
//   }

//   &:hover{
//       transform: translateY(-0.3rem);
//       box-shadow: 0rem 1rem 2.5rem rgba(#000, 0.2);
//       color: #00619c;

//       &::after{
//           transform: scaleX(1.4) scaleY(1.7);
//           opacity: 0;
//       }


//   }

//   &:active,
//   &:focus{
//       transform: translateY(-0.1rem);
//       box-shadow: 0rem .5rem 1.2rem rgba(#000, 0.2);
//       outline: none;
//   }

//   &::after{
//       content: "";
//       display: block;
//       height: 100%;
//       width: 100%;
//       border-radius: 10rem;
//       position: absolute;
//       top: 0;
//       left: 0;
//       z-index: -1;
//       transition: all 0.4s;
//   }

  

//   &--green{
//       background-color: #fff;


//       &::after{
//           background-color: #fff;
//       }
//   }

//   &--animated{
//       animation: moveInUp 0.4s ease-out 0.50s;
//       animation-fill-mode: backwards;
//   }

// }


