.about{
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(rgba(#00619c,0.86),rgba(#00619c, 0.86));
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &__box{
        z-index: 5;
    }

    &__title{
        font-size: 6rem;
        font-weight: bold;
        color: #fff;
        z-index: 5;
    }
}
// =================
.site-content{
    min-height: 100vh;
    margin-bottom: 6rem;
}

.site-container{
    width: 90%;
    margin: 0 auto;

}

.site{


  &__box{
    text-align: center;
    z-index: 5;

  }

  &__heading{
    font-size: 3.9rem;
    color: #00619c;
    padding: 2rem 0;
    text-transform: uppercase;
    margin: 5rem 0rem;
  }

    &__item{
        min-height: 30vh;
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;

        &:nth-child(odd){
            direction: rtl;
            text-align: left;
        }

        @media only screen and (max-width: 768px){
            flex-direction: column;
            text-align: center;


            &:nth-child(odd){
                direction: rtl;
                text-align: center;
            }
            
        }
    }

    &__img-container{
        width: 35%;
        height: 40rem;
        border-radius: 1rem;
        position: relative;
        overflow: hidden;
        
        @media only screen and (max-width: 768px){
            width: 65%;
            height: 40rem;

        }

        @media only screen and (max-width: 643px){
            width: 80%;
            height: 40rem;
        }

        
    }


    &__img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    &__info{
        width: 50%;

        @media only screen and (max-width: 480px){
            width: 100%;
        }
    }

    &__title{
        color: #00619c;
        font-weight: bold;
        font-size: 3.2rem;

        @media only screen and (max-width: 768px){
            margin: 3.5rem 0;
        }
    }

    &__text{
        font-size: 1.5rem;
        font-weight: 300;
        color: #00619c;

        span{
            text-align: left;
        }

    }
}

.values{
    background-position: right;
}